In [5]:
# Question 1: Filter the rows using multiple conditions using( & , | ) operators.

In [6]:
import pandas as pd

df = pd.read_csv("C:\\Users\\dhamm\\Downloads\\archive\\athlete_events.csv")
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [9]:
# Filtering the rows using multiple conditions with (& , | ) operators
df = df.loc[(df['Height'] > 214) & ((df['NOC'] =="CHN") | (df['NOC'] =="USA")) & ((df['Sport'] =="Basketball") | (df['Sport'] =="Volleyball")), ["Name","Sport","Height","NOC"]]
df

                            Name       Sport  Height  NOC
32376       Tommy Loren Burleson  Basketball   223.0  USA
38381     Tyson Cleotis Chandler  Basketball   216.0  USA
99965                Hu Zhangbao  Basketball   216.0  CHN
138228                  Li Muhao  Basketball   218.0  CHN
177224  Shaquille Rashuan O'Neal  Basketball   216.0  USA
201955    David Maurice Robinson  Basketball   216.0  USA
201956    David Maurice Robinson  Basketball   216.0  USA
201957    David Maurice Robinson  Basketball   216.0  USA
217423                  Shan Tao  Basketball   215.0  CHN
217424                  Shan Tao  Basketball   215.0  CHN
256929               Wang Zhizhi  Basketball   215.0  CHN
256930               Wang Zhizhi  Basketball   215.0  CHN
256931               Wang Zhizhi  Basketball   215.0  CHN
256932               Wang Zhizhi  Basketball   215.0  CHN
265040                  Yao Ming  Basketball   226.0  CHN
265041                  Yao Ming  Basketball   226.0  CHN
265042                  Yao Ming  Basketball   226.0  CHN
269053              Zhang Zhaoxu  Basketball   221.0  CHN
269409                   Zhou Qi  Basketball   217.0  CHN