In [1]:
# Gtoup data by column and calculate the sum?

In [2]:
import pandas as pd

df = pd.read_csv("C:\\Users\\dhamm\\Downloads\\sample_data.csv")

df

,OrderID,Customer,Category,Region,Sales,Quantity,Profit,OrderDate
0,1001,Amit,Technology,West,25000,2,5000,10-01-2023
1,1002,Riya,Furniture,East,18000,3,3000,15-02-2023
2,1003,Rahul,Office Supplies,North,4000,5,800,20-02-2023
3,1004,Priya,Technology,South,32000,1,7000,05-03-2023
4,1005,Sneha,Furniture,West,15000,2,2500,18-03-2023
5,1006,Arjun,Office Supplies,East,6000,4,1200,10-04-2023
6,1007,Kiran,Technology,North,28000,3,6000,22-05-2023
7,1008,Neha,Furniture,South,20000,2,3500,30-06-2023
8,1009,Rohit,Office Supplies,West,5000,6,900,12-07-2023
9,1010,Pooja,Technology,East,35000,1,8000,25-08-2023

In [4]:
# Group by 'Category' column and calculate the sum of 'Values' column

grouped_df = df.groupby("Region")["Sales"].sum()

print("Grouped DataFrame with Sum of Sales by Region:")
grouped_df

Grouped DataFrame with Sum of Sales by Region:

Region
East     59000
North    32000
South    52000
West     45000
Name: Sales, dtype: int64