In [1]:
# Question 6: Creating a new Column Based on Conditions, if Salary of an Employee is greater than 10000 then multiply it by 10 else keep it.

In [3]:
import pandas as pd
df = pd.read_csv("C:\\Users\\dhamm\\Downloads\\sample_data.csv")
df

,OrderID,Customer,Category,Region,Sales,Quantity,Profit,OrderDate
0,1001,Amit,Technology,West,25000,2,5000,10-01-2023
1,1002,Riya,Furniture,East,18000,3,3000,15-02-2023
2,1003,Rahul,Office Supplies,North,4000,5,800,20-02-2023
3,1004,Priya,Technology,South,32000,1,7000,05-03-2023
4,1005,Sneha,Furniture,West,15000,2,2500,18-03-2023
5,1006,Arjun,Office Supplies,East,6000,4,1200,10-04-2023
6,1007,Kiran,Technology,North,28000,3,6000,22-05-2023
7,1008,Neha,Furniture,South,20000,2,3500,30-06-2023
8,1009,Rohit,Office Supplies,West,5000,6,900,12-07-2023
9,1010,Pooja,Technology,East,35000,1,8000,25-08-2023

In [7]:
# Creating a new column 'Updated_Salary' based on the condition

df['Promoted Profit'] = df['Profit'].apply(lambda x: x * 10 if x > 1500 else x * 2)
df

,OrderID,Customer,Category,Region,Sales,Quantity,Profit,OrderDate,Promoted Profit
0,1001,Amit,Technology,West,25000,2,5000,10-01-2023,50000
1,1002,Riya,Furniture,East,18000,3,3000,15-02-2023,30000
2,1003,Rahul,Office Supplies,North,4000,5,800,20-02-2023,1600
3,1004,Priya,Technology,South,32000,1,7000,05-03-2023,70000
4,1005,Sneha,Furniture,West,15000,2,2500,18-03-2023,25000
5,1006,Arjun,Office Supplies,East,6000,4,1200,10-04-2023,2400
6,1007,Kiran,Technology,North,28000,3,6000,22-05-2023,60000
7,1008,Neha,Furniture,South,20000,2,3500,30-06-2023,35000
8,1009,Rohit,Office Supplies,West,5000,6,900,12-07-2023,1800
9,1010,Pooja,Technology,East,35000,1,8000,25-08-2023,80000