In [99]:
# Creating an E-Commerce Sales Analysis using Pandas. 
# Here we will use Dataset from Kaggle "C:\Users\dhamm\Downloads\archive (4)\online_retail_II.xlsx",
# This project is divided into several steps including Load and Understand the Data, Data Cleaning, 
# Exploratory Data Analysis (EDA).
# 1. It will contain Business KPIs like 
#       1.1. Total Revenues, 
#       1.2. Total Orders, 
#       1.3. Average Order Values, 
#       1.4. Top 10 Selling Products, 
#       1.5. Top 10 Customers country wise.
# 2. Trend Analysis: 
#       2.1. Monthly Sales Trends, 
#       2.2. Yearly sales trends.
# 3. Product Analysis: 
#       3.1. Top 10 Products in Quantity Sold, 
#       3.2. Most Product returns by Quantity and Customer ID.

In [18]:
import pandas as pd

# Load the dataset
df = pd.read_excel('C:/Users/dhamm/Downloads/archive (4)/online_retail_II.xlsx', sheet_name='Year 2010-2011')
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [10]:
# Data Cleaning Process

# 1. Checking for data types

print("Data Types:\n",df.dtypes)

Data Types:
 Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [19]:
# 2. Checking for duplicates

duplicate_rows = df.duplicated().sum()
print("Number of Duplicate Rows:", duplicate_rows)

Number of Duplicate Rows: 5268

In [20]:
# Removing duplicates

df = df.drop_duplicates()
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [21]:
# Checking again for duplicates after removal
duplicate_rows_after = df.duplicated().sum()
print("Number of Duplicate Rows after removal:", duplicate_rows_after)

Number of Duplicate Rows after removal: 0

In [23]:
# Checking for null values in each column
null_values = df.isnull().sum()
print("Null Values in each column:\n", null_values)

Null Values in each column:
 Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135037
Country             0
dtype: int64

In [25]:
# Dropping rows with null values

df = df.dropna()
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [27]:
# Rechecking for null values after dropping
null_values_after = df.isnull().sum()
print("Null Values in each column after dropping:\n", null_values_after)

Null Values in each column after dropping:
 Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [31]:
# Fixing data time columns
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['InvoiceDate'].dtype

dtype('<M8[ns]')

In [33]:
# Creating a new column for Total Price
df["TotalPrice"] = df['Quantity'] * df['Price']
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00

In [50]:
# 1. Creating various Business KPIs

# 1.1. Total Revenues

total_revenue = df['TotalPrice'].sum()
print("Total Revenue: $", total_revenue)

Total Revenue: $ 8278537.424

In [43]:
# 1.2. Total Orders 
total_order = df['Invoice'].nunique()
print("Total Orders:", total_order)

Total Orders: 22190

In [45]:
# 1.3. Average Order Value
average_order_value = total_revenue/total_order
print("Average Order Value: $", average_order_value)

Average Order Value: $ 373.07514303740425

In [107]:
# 1.4. Top 10 Products by Quantity Sold
top_10_products_quantity = df.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(10)
print("Top 10 Products by Quantity Sold:\n", top_10_products_quantity)

Top 10 Products by Quantity Sold:
 Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     53119
JUMBO BAG RED RETROSPOT               44963
ASSORTED COLOUR BIRD ORNAMENT         35215
WHITE HANGING HEART T-LIGHT HOLDER    34128
PACK OF 72 RETROSPOT CAKE CASES       33386
POPCORN HOLDER                        30492
RABBIT NIGHT LIGHT                    27045
MINI PAINT SET VINTAGE                25880
PACK OF 12 LONDON TISSUES             25305
PACK OF 60 PINK PAISLEY CAKE CASES    24129
Name: Quantity, dtype: int64

In [83]:
# 1.5. Top 10 Customers by Total Price in countrywise.
top_10_customers = df.groupby(['Customer ID','Invoice','Country'])['TotalPrice'].sum().sort_values(ascending=False).head(10)
print("Top 10 Customers by Total Price in countrywise:\n", top_10_customers)

Top 10 Customers by Total Price in countrywise:
 Customer ID  Invoice  Country
16446.0      581483   United Kingdom    168469.60
12346.0      541431   United Kingdom     77183.60
15098.0      556444   United Kingdom     38970.00
17450.0      567423   United Kingdom     31698.16
12415.0      556917   Australia          22775.93
18102.0      572209   United Kingdom     22206.00
17450.0      567381   United Kingdom     22104.80
12415.0      563614   Australia          21880.44
15749.0      550461   United Kingdom     21535.90
14646.0      572035   Netherlands        20277.92
Name: TotalPrice, dtype: float64

In [ ]:
# 2. Trend Analysis by using pivot table

In [113]:
# 2.1. Monthly Sales Trends with pivot table

monthly_sales = df.pivot_table(index = 'Country',values='TotalPrice', columns= df['InvoiceDate'].dt.to_period('M'), aggfunc='sum').fillna(0)
monthly_sales

InvoiceDate,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10,2011-11,2011-12
Country,,,,,,,,,,,,,
Australia,937.60,9017.71,14627.47,17055.29,333.400,13628.51,25164.77,4767.570,22489.20,5031.730,17150.53,6805.99,0.00
Austria,257.04,0.00,518.36,1708.12,680.780,1249.43,-24.20,1191.950,1516.08,0.000,1043.78,1329.78,683.20
Bahrain,0.00,0.00,0.00,0.00,0.000,548.40,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Belgium,1809.91,1154.05,2161.32,3333.58,1954.150,2727.00,4273.17,2473.620,3536.12,4197.820,5651.38,6229.41,1409.43
Brazil,0.00,0.00,0.00,0.00,1143.600,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Canada,0.00,0.00,0.00,140.54,0.000,534.24,1171.46,1768.580,51.56,0.000,0.00,0.00,0.00
Channel Islands,363.53,645.08,1784.71,3509.33,293.000,903.79,2060.03,0.000,4882.63,1321.650,2623.32,1495.17,194.15
Cyprus,1587.07,547.50,4013.55,938.39,-35.800,0.00,1109.32,0.000,0.00,196.350,4153.97,439.66,-91.25
Czech Republic,0.00,0.00,549.26,0.00,-57.510,0.00,0.00,0.000,0.00,0.000,277.48,-61.51,0.00
Denmark,1281.50,0.00,399.22,3978.99,0.000,515.70,3261.15,376.240,78.60,4570.160,1438.11,2699.57,168.90
EIRE,7825.57,21671.52,7536.92,18270.28,7570.500,15889.74,19822.79,40823.150,10771.45,40427.840,23292.62,29123.03,6976.37
European Community,0.00,0.00,0.00,0.00,191.400,0.00,423.55,676.800,0.00,0.000,0.00,0.00,0.00
Finland,892.80,889.02,205.16,5924.62,1626.810,0.00,329.56,2996.730,1371.55,1105.450,2804.12,2950.24,1230.68
France,9575.36,17503.07,8438.91,14512.30,4195.210,17518.68,15722.43,9888.990,13789.26,23198.870,25017.64,30216.50,7066.83
Germany,14527.44,16421.43,8969.24,14170.02,11963.370,25554.85,13053.27,15721.660,19023.65,17708.560,30604.27,25987.01,7804.70
Greece,0.00,2661.24,0.00,387.31,609.740,0.00,0.00,371.240,0.00,0.000,0.00,0.00,680.99
Iceland,711.79,475.39,0.00,0.00,636.250,0.00,382.52,0.000,584.91,0.000,1294.32,0.00,224.82
Israel,-227.44,0.00,779.10,0.00,0.000,0.00,0.00,1430.750,4873.81,0.000,132.18,0.00,0.00
Italy,794.50,2361.36,251.50,1778.91,737.830,587.45,162.27,147.100,1934.80,279.800,3410.79,4243.75,200.45
Japan,7705.07,-109.80,5780.81,-73.66,4871.830,1351.45,1607.04,3854.400,-49.79,112.080,1948.04,8460.08,-116.93
Lebanon,0.00,1693.88,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Lithuania,1661.06,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Malta,0.00,0.00,0.00,0.00,0.000,0.00,850.41,0.000,1103.25,0.000,0.00,582.62,-30.81
Netherlands,8784.48,26611.16,22932.11,22416.49,2976.560,29185.88,26843.09,26.020,39655.81,26937.260,40708.65,25856.01,11728.02
Norway,3787.12,0.00,630.90,304.68,0.000,0.00,5886.86,890.070,1984.46,8678.940,3687.23,6527.50,2785.70
Poland,248.16,613.22,604.05,303.39,705.840,1522.37,264.74,678.450,401.80,529.250,0.00,1341.87,0.00
Portugal,2380.12,3998.11,1213.90,2660.85,1687.750,587.83,879.51,2287.850,1206.40,1433.220,5254.97,2603.30,2801.95
RSA,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,1002.31,0.00,0.00
Saudi Arabia,0.00,0.00,145.92,-14.75,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Singapore,0.00,2053.07,0.00,0.00,2118.740,0.00,0.00,3949.320,0.00,0.000,999.26,0.00,0.00
Spain,1843.73,7178.54,2093.70,5326.65,1785.650,3257.60,3332.44,7574.020,3325.91,5163.740,5078.65,8523.97,271.43
Sweden,2646.30,3446.32,509.50,4540.58,809.100,2664.98,832.00,6802.090,1380.46,4575.210,5766.16,2612.71,0.00
Switzerland,1304.92,4231.23,2642.67,1870.23,1822.190,3567.21,7882.20,3540.650,4882.19,8254.960,7623.99,8116.96,0.00
USA,0.00,0.00,0.00,0.00,383.950,0.00,0.00,0.000,0.00,0.000,731.69,0.00,615.28
United Arab Emirates,0.00,0.00,889.24,0.00,0.000,0.00,0.00,0.000,0.00,1013.040,0.00,0.00,0.00
United Kingdom,481675.23,350668.80,347856.55,455534.07,375919.231,524363.88,471386.36,460082.891,475752.95,774620.302,781610.92,950731.45,296953.52
Unspecified,0.00,0.00,0.00,0.00,299.100,852.68,185.78,792.180,531.03,0.000,0.00,0.00,0.00

In [110]:
# 2.2. Yearly Sales Trends

yearly_sales = df.pivot_table(index = df['Country'], values = 'TotalPrice', columns= df['InvoiceDate'].dt.to_period('Y'), aggfunc='sum').fillna(0)
yearly_sales

InvoiceDate                2010         2011
Country
Australia                937.60   136072.170
Austria                  257.04     9897.280
Bahrain                    0.00      548.400
Belgium                 1809.91    39101.050
Brazil                     0.00     1143.600
Canada                     0.00     3666.380
Channel Islands          363.53    19712.860
Cyprus                  1587.07    11271.690
Czech Republic             0.00      707.720
Denmark                 1281.50    17486.640
EIRE                    7825.57   242176.210
European Community         0.00     1291.750
Finland                  892.80    21433.940
France                  9575.36   187068.690
Germany                14527.44   206982.030
Greece                     0.00     4710.520
Iceland                  711.79     3598.210
Israel                  -227.44     7215.840
Italy                    794.50    16096.010
Japan                   7705.07    27635.550
Lebanon                    0.00     1693.880
Lithuania               1661.06        0.000
Malta                      0.00     2505.470
Netherlands             8784.48   275877.060
Norway                  3787.12    31376.340
Poland                   248.16     6964.980
Portugal                2380.12    26615.640
RSA                        0.00     1002.310
Saudi Arabia               0.00      131.170
Singapore                  0.00     9120.390
Spain                   1843.73    52912.300
Sweden                  2646.30    33939.110
Switzerland             1304.92    54434.480
USA                        0.00     1730.920
United Arab Emirates       0.00     1902.280
United Kingdom        481675.23  6265480.924
Unspecified                0.00     2660.770

In [115]:
# 2.3. Calculating Month over Month Sales Growth
monthly_sales_growth = monthly_sales.pct_change(axis='columns').fillna(0) * 100
monthly_sales_growth = monthly_sales_growth.round(2)
monthly_sales_growth

# pct_change() function is used to calculate the percentage change between the current and a prior element.
# axis='columns' indicates that the percentage change is calculated across columns (i.e., months) for each row (i.e., country).

InvoiceDate,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10,2011-11,2011-12
Country,,,,,,,,,,,,,
Australia,0.0,861.79,62.21,16.60,-98.05,3987.74,84.65,-81.05,371.71,-77.63,240.85,-60.32,-100.00
Austria,0.0,-100.00,inf,229.52,-60.14,83.53,-101.94,-5025.41,27.19,-100.00,inf,27.40,-48.62
Bahrain,0.0,0.00,0.00,0.00,0.00,inf,-100.00,0.00,0.00,0.00,0.00,0.00,0.00
Belgium,0.0,-36.24,87.28,54.24,-41.38,39.55,56.70,-42.11,42.95,18.71,34.63,10.23,-77.37
Brazil,0.0,0.00,0.00,0.00,inf,-100.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Canada,0.0,0.00,0.00,inf,-100.00,inf,119.28,50.97,-97.08,-100.00,0.00,0.00,0.00
Channel Islands,0.0,77.45,176.66,96.63,-91.65,208.46,127.93,-100.00,inf,-72.93,98.49,-43.00,-87.01
Cyprus,0.0,-65.50,633.07,-76.62,-103.82,-100.00,inf,-100.00,0.00,inf,2015.59,-89.42,-120.75
Czech Republic,0.0,0.00,inf,-100.00,-inf,-100.00,0.00,0.00,0.00,0.00,inf,-122.17,-100.00
Denmark,0.0,-100.00,inf,896.69,-100.00,inf,532.37,-88.46,-79.11,5714.45,-68.53,87.72,-93.74
EIRE,0.0,176.93,-65.22,142.41,-58.56,109.89,24.75,105.94,-73.61,275.32,-42.38,25.03,-76.05
European Community,0.0,0.00,0.00,0.00,inf,-100.00,inf,59.79,-100.00,0.00,0.00,0.00,0.00
Finland,0.0,-0.42,-76.92,2787.80,-72.54,-100.00,inf,809.31,-54.23,-19.40,153.66,5.21,-58.29
France,0.0,82.79,-51.79,71.97,-71.09,317.59,-10.25,-37.10,39.44,68.24,7.84,20.78,-76.61
Germany,0.0,13.04,-45.38,57.98,-15.57,113.61,-48.92,20.44,21.00,-6.91,72.82,-15.09,-69.97
Greece,0.0,inf,-100.00,inf,57.43,-100.00,0.00,inf,-100.00,0.00,0.00,0.00,inf
Iceland,0.0,-33.21,-100.00,0.00,inf,-100.00,inf,-100.00,inf,-100.00,inf,-100.00,inf
Israel,0.0,-100.00,inf,-100.00,0.00,0.00,0.00,inf,240.65,-100.00,inf,-100.00,0.00
Italy,0.0,197.21,-89.35,607.32,-58.52,-20.38,-72.38,-9.35,1215.30,-85.54,1119.01,24.42,-95.28
Japan,0.0,-101.43,-5364.85,-101.27,-6713.94,-72.26,18.91,139.84,-101.29,-325.11,1638.08,334.29,-101.38
Lebanon,0.0,inf,-100.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Lithuania,0.0,-100.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Malta,0.0,0.00,0.00,0.00,0.00,0.00,inf,-100.00,inf,-100.00,0.00,inf,-105.29
Netherlands,0.0,202.93,-13.83,-2.25,-86.72,880.52,-8.03,-99.90,152305.11,-32.07,51.12,-36.49,-54.64
Norway,0.0,-100.00,inf,-51.71,-100.00,0.00,inf,-84.88,122.96,337.35,-57.52,77.03,-57.32
Poland,0.0,147.11,-1.50,-49.77,132.65,115.68,-82.61,156.27,-40.78,31.72,-100.00,inf,-100.00
Portugal,0.0,67.98,-69.64,119.20,-36.57,-65.17,49.62,160.13,-47.27,18.80,266.65,-50.46,7.63
RSA,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,inf,-100.00,0.00
Saudi Arabia,0.0,0.00,inf,-110.11,-100.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Singapore,0.0,inf,-100.00,0.00,inf,-100.00,0.00,inf,-100.00,0.00,inf,-100.00,0.00
Spain,0.0,289.35,-70.83,154.41,-66.48,82.43,2.30,127.28,-56.09,55.26,-1.65,67.84,-96.82
Sweden,0.0,30.23,-85.22,791.18,-82.18,229.38,-68.78,717.56,-79.71,231.43,26.03,-54.69,-100.00
Switzerland,0.0,224.25,-37.54,-29.23,-2.57,95.76,120.96,-55.08,37.89,69.08,-7.64,6.47,-100.00
USA,0.0,0.00,0.00,0.00,inf,-100.00,0.00,0.00,0.00,0.00,inf,-100.00,inf
United Arab Emirates,0.0,0.00,inf,-100.00,0.00,0.00,0.00,0.00,0.00,inf,-100.00,0.00,0.00
United Kingdom,0.0,-27.20,-0.80,30.95,-17.48,39.49,-10.10,-2.40,3.41,62.82,0.90,21.64,-68.77
Unspecified,0.0,0.00,0.00,0.00,inf,185.08,-78.21,326.41,-32.97,-100.00,0.00,0.00,0.00

In [116]:
# 2.4. Calculating Year over Year Sales Growth
yearly_sales_growth = yearly_sales.pct_change(axis='columns').fillna(0)*100
yearly_sales_growth = yearly_sales_growth.round(2)
yearly_sales_growth

InvoiceDate           2010      2011
Country
Australia              0.0  14412.82
Austria                0.0   3750.48
Bahrain                0.0       inf
Belgium                0.0   2060.39
Brazil                 0.0       inf
Canada                 0.0       inf
Channel Islands        0.0   5322.62
Cyprus                 0.0    610.22
Czech Republic         0.0       inf
Denmark                0.0   1264.54
EIRE                   0.0   2994.68
European Community     0.0       inf
Finland                0.0   2300.75
France                 0.0   1853.65
Germany                0.0   1324.77
Greece                 0.0       inf
Iceland                0.0    405.52
Israel                 0.0  -3272.63
Italy                  0.0   1925.93
Japan                  0.0    258.67
Lebanon                0.0       inf
Lithuania              0.0   -100.00
Malta                  0.0       inf
Netherlands            0.0   3040.51
Norway                 0.0    728.50
Poland                 0.0   2706.65
Portugal               0.0   1018.25
RSA                    0.0       inf
Saudi Arabia           0.0       inf
Singapore              0.0       inf
Spain                  0.0   2769.85
Sweden                 0.0   1182.51
Switzerland            0.0   4071.48
USA                    0.0       inf
United Arab Emirates   0.0       inf
United Kingdom         0.0   1200.77
Unspecified            0.0       inf

In [77]:
# 3. Product Analysis

In [108]:
# 3.1. Top 10 Products by TotalPrice
top_10_products_totalprice = df.groupby('Description')['TotalPrice'].sum().sort_values(ascending=False).head(10)
print("Top 10 Products by Total Price:\n", top_10_products_totalprice)

Top 10 Products by Total Price:
 Description
REGENCY CAKESTAND 3 TIER              132567.70
WHITE HANGING HEART T-LIGHT HOLDER     93767.80
JUMBO BAG RED RETROSPOT                83056.52
PARTY BUNTING                          67628.43
POSTAGE                                66728.24
ASSORTED COLOUR BIRD ORNAMENT          56331.91
RABBIT NIGHT LIGHT                     51042.84
CHILLI LIGHTS                          45915.41
PAPER CHAIN KIT 50'S CHRISTMAS         41423.78
PICNIC BASKET WICKER 60 PIECES         39619.50
Name: TotalPrice, dtype: float64

In [105]:
# 3.2. Most Product returns by Quantity and Customer ID
product_returns = df[df['Quantity'] < 0].groupby(['Description','Customer ID'])['Quantity'].sum().sort_values().head(10)
print("Most Product Returns:\n", product_returns)

Most Product Returns:
 Description                          Customer ID
PAPER CRAFT , LITTLE BIRDIE          16446.0       -80995
MEDIUM CERAMIC TOP STORAGE JAR       12346.0       -74215
ROTATING SILVER ANGELS T-LIGHT HLDR  15838.0        -9360
FAIRY CAKE FLANNEL ASSORTED COLOUR   15749.0        -3114
GIN + TONIC DIET METAL SIGN          15749.0        -2000
WHITE HANGING HEART T-LIGHT HOLDER   15749.0        -1930
HERB MARKER BASIL                    16938.0        -1515
FELTCRAFT DOLL MOLLY                 16029.0        -1440
Manual                               18133.0        -1350
TEA TIME PARTY BUNTING               15749.0        -1300
Name: Quantity, dtype: int64

In [121]:
# 3.3. Calculating low quantity but high returns products

# here we perform groupby on 'Description' and aggregate both 'Quantity' and 'TotalPrice' to identify products with low quantity sold but high returns.
low_quantity_high_returns = df.groupby('Description').agg({'Quantity':'sum', 'TotalPrice' : 'sum' })

# here we filter the products that have low quantity sold but hight returns.
threshold_quantity = low_quantity_high_returns['Quantity'].mean()
threshold_price = low_quantity_high_returns['TotalPrice'].mean()

# here we performing the query to get products with low quantity but high returns.
low_quantity_high_returns = low_quantity_high_returns.query('Quantity < @threshold_quantity and TotalPrice > @threshold_price')
low_quantity_high_returns = low_quantity_high_returns.sort_values(by='Quantity', ascending=True)
print("Products with Low Quantity but High Returns:\n", low_quantity_high_returns)

Products with Low Quantity but High Returns:
                                      Quantity  TotalPrice
Description
ROTATING SILVER ANGELS T-LIGHT HLDR     -1475    17255.62
DOTCOM POSTAGE                             16    11906.36
VINTAGE BLUE KITCHEN CABINET               20     2885.00
CHEST NATURAL WOOD 20 DRAWERS              24     2745.00
RUSTIC  SEVENTEEN DRAWER SIDEBOARD         32     5000.00
...                                       ...         ...
DINOSAUR LUNCH BOX WITH CUTLERY          1225     2863.68
VINYL RECORD FRAME SILVER                1229     4249.69
SET/6 TURQUOISE BUTTERFLY T-LIGHTS       1234     2384.76
CLASSIC GLASS COOKIE JAR                 1239     4971.05
CHRISTMAS LIGHTS 10 VINTAGE BAUBLES      1246     5803.48

[257 rows x 2 columns]

In [ ]:
# 📌 E-commerce Sales Analysis using Pandas

# This project performs Exploratory Data Analysis (EDA) on an E-commerce retail dataset using 
# Python (Pandas) to generate insights on sales performance, product demand, and country-wise 
# revenue contribution.

# ✅ Key Steps

# Data cleaning: missing values, duplicates, invalid transactions
# Feature engineering: Revenue, Month/Year extraction
# KPI calculations: Total Revenue, Orders, Customers, AOV
# Analysis: Monthly/Yearly trends, Top products, Country-wise revenue

# 📊 Output Insights

# Identified peak sales periods and seasonality patterns
# Found top-performing products and high-contributing regions
# Built summary KPI tables for decision-making

# 🛠 Tools Used

# Python, Pandas, Jupyter Notebook