In [36]:
# Performing various filtering operations on a DataFrame

In [47]:
import pandas as pd

df = pd.read_csv("C:\\Users\\dhamm\\Downloads\\archive\\athlete_events.csv")
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [42]:
df = df.loc[(df['Height']>215) & (df['NOC'].isin(["USA"])),["Name","Sport","Height","NOC"]]
df

                            Name       Sport  Height  NOC
32376       Tommy Loren Burleson  Basketball   223.0  USA
38381     Tyson Cleotis Chandler  Basketball   216.0  USA
177224  Shaquille Rashuan O'Neal  Basketball   216.0  USA
201955    David Maurice Robinson  Basketball   216.0  USA
201956    David Maurice Robinson  Basketball   216.0  USA
201957    David Maurice Robinson  Basketball   216.0  USA

In [44]:
# Filtering DataFrame by the help of query method

df = df.query('Height > 215 and NOC == "USA" and Sport == "Basketball"')[["Name","Sport","Height","NOC"]]
df

                            Name       Sport  Height  NOC
32376       Tommy Loren Burleson  Basketball   223.0  USA
38381     Tyson Cleotis Chandler  Basketball   216.0  USA
177224  Shaquille Rashuan O'Neal  Basketball   216.0  USA
201955    David Maurice Robinson  Basketball   216.0  USA
201956    David Maurice Robinson  Basketball   216.0  USA
201957    David Maurice Robinson  Basketball   216.0  USA