In [2]:
# To perform the Broadcasting operation on DataFrame

import pandas as pd
import numpy as np

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, np.nan, 45],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'Sales'],
    'Salary': [50000, 60000, 70000, np.nan, 90000]}

# Converting a dictionary to a DataFrame

df = pd.DataFrame(data)
print("\n Original Dataframe is: \n")
df

 Original Dataframe is:

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0    Finance  60000.0
2  Charlie  35.0         IT  70000.0
3    David   NaN  Marketing      NaN
4      Eva  45.0      Sales  90000.0

In [5]:
# To perform the Broadcasting operation on DataFrame

df['Salary']  = df['Salary'] + 5000  # Here we increase each salary by 5000
df

      Name   Age Department   Salary
0    Alice  25.0         HR  55000.0
1      Bob  30.0    Finance  65000.0
2  Charlie  35.0         IT  75000.0
3    David   NaN  Marketing      NaN
4      Eva  45.0      Sales  95000.0