In [7]:
# Use query filtering method for filtering DataFrame

In [8]:
import pandas as pd
df = pd.read_csv("C:\\Users\\dhamm\\Downloads\\archive\\athlete_events.csv")
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [11]:
# Using query method to filter DataFrame

df = df.query('Height > 215 and NOC == "USA" and Sport == "Basketball" or Sport == "Football" and Weight > 70')[["Name","Sport","Height","NOC","Weight"]]
df

                                     Name     Sport  Height  NOC  Weight
157                      Stefan Abadzhiev  Football   175.0  BUL    72.0
178            Jouan Patrice Abanda Etong  Football   185.0  CMR    82.0
183                       Georgios Abaris  Football   190.0  GRE    77.0
198                         Ignazio Abate  Football   180.0  ITA    73.0
235           Bassim Abbas Kati Al-Ogaili  Football   175.0  IRQ    80.0
...                                   ...       ...     ...  ...     ...
270596                       Steven Zuber  Football   182.0  SUI    79.0
270599            Iker Joseba Zubizarreta  Football   181.0  VEN    72.0
270642     Yegor Vyacheslavovich Zubovich  Football   184.0  BLR    78.0
270982  Viktor Oleksandrovych Zviahintsev  Football   178.0  URS    79.0
271107         James Francis "Jim" Zylker  Football   175.0  USA    75.0

[2305 rows x 5 columns]