In [ ]:
# Question 3: Create a Pivot table with aggregation function.

In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\dhamm\\Downloads\\archive\\athlete_events.csv")
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [6]:
# Creating a Pivot table with aggregation function
from pandas import pivot_table


pivot_table = df.pivot_table(index='Sport', columns='Year', values='Height')
pivot_table.head()

Year,1896,1900,1904,1906,1908,1912,1920,1924,1928,1932,...,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
Sport,,,,,,,,,,,,,,,,,,,,,
Alpine Skiing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,173.832184,NaN,174.239564,NaN,175.143089,NaN,175.345534,NaN,175.336296,NaN
Archery,NaN,NaN,169.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,174.058824,NaN,173.731132,NaN,173.279793,NaN,173.295000,NaN,173.363636
Art Competitions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.555556,169.000000,174.952381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Athletics,174.875,178.578947,178.227273,180.352941,178.305994,178.129032,177.161194,176.324257,176.472505,176.091765,...,NaN,176.537860,NaN,176.301748,NaN,176.038164,NaN,176.095578,NaN,175.207140
Badminton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,173.920000,NaN,173.595000,NaN,173.699454,NaN,174.263736,NaN,174.502825